/data/**
!/data/README.md
!/data/sample_metadata/
!/data/sample_metadata/*
!/data/KF297339.1.gff3
/log/
/results/**
!/results/UCSCGenomeBrowser/
!/results/UCSCGenomeBrowser/cmv/
!/results/UCSCGenomeBrowser/cmv/**/*
!/results/tracks/
!/results/tracks/*_cmv_*.bw
!/results/tsrs/
!/results/tsrs/*
/processed_data/
/.snakemake/
/container.sif
/Dockerfile
/scratch
/.Rhistory
/.Rproj.user
*.Rproj
/.cache
/.config
/.java
/dag.svg
.DS_Store
*.pdf
*.png
