/data/**
!/data/fastq
!/data/fastq/sample1_1.fastq
!/data/fastq/sample1_2.fastq
!/data/fastq/sample2_1.fastq
!/data/fastq/sample2_2.fastq
!/data/genome
!/data/genome/genome_download.sh
!/data/README.md
/log/
/results/**
!/results/UCSCGenomeBrowser/
!/results/UCSCGenomeBrowser/cmv/
!/results/UCSCGenomeBrowser/cmv/**/*
!/results/tracks/
!/results/tracks/*_cmv_*.bw
/processed_data/
/.snakemake/
/container.sif
/Dockerfile
/scratch
/.Rhistory
/.Rproj.user
*.Rproj
/.cache
/.config
/.java
/dag.svg
.DS_Store
